@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: "General Sans";
  width: 100dvw;
  background-color: #e7e5e4;
  overflow-x: hidden;
  width: 100%;
  height: 100%;
  touch-action: manipulation;
  overscroll-behavior: none;
}

@layer base {
  @font-face {
    font-family: "ranade-regular";
    src: url("/fonts/Ranade-Regular.woff2") format("woff2");
  }

  @font-face {
    font-family: "novar";
    src: url("/fonts/Novar.woff2") format("woff2");
  }
}
